.tarea-cont{
    width: 100%;
    aspect-ratio: 7;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: -1px -1px 4px rgb(101, 133, 101);
    align-items: center;
    margin-bottom: 15px;
}
.check{
    
    padding-left: 20px;
}
.checklabel{
    color:white;
    font-weight: bold;
}
#eliminar{
    aspect-ratio: 1;
}
.icon{
    color:white;
    
    text-align: center;
    font-size: 150%;
    
}